<div class="container">

  <span class="home"><a href="/">Home</a></span>
  <h1>This is your short url:</h1>
  <p> <a href="http://localhost:9393/<%= Link.last.short_url%>">http://localhost:9393/<%= Link.last.short_url%></a></p>


</div>
